<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_net_grouplink_ssportal_domain_ServiceRequest" modelAttribute="serviceRequest" path="/scaffold/servicerequests" render="${empty dependencies}" z="JFgBw2aehuqA2tEcInvbz5571EM=">
        <field:select field="service" id="c_net_grouplink_ssportal_domain_ServiceRequest_service" itemValue="id" items="${services}" path="/scaffold/services" required="true" z="APLBJoCifbNg3ODhv5elwEaWNSY="/>
        <field:select field="user" id="c_net_grouplink_ssportal_domain_ServiceRequest_user" itemValue="id" items="${users}" path="/scaffold/users" z="9xM/1fVTL2S0xt4HVW5ieB7wmyI="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_net_grouplink_ssportal_domain_ServiceRequest" render="${not empty dependencies}" z="lP7/INbwkfXPapj9AIgVk94UARo="/>
</div>
