<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_grouplink_ssportal_domain_ServiceRequest" items="${servicerequests}" z="JShUa00MdgwolVq/FbQKKI1/ARY=">
        <table:table data="${servicerequests}" id="l_net_grouplink_ssportal_domain_ServiceRequest" path="/scaffold/servicerequests" z="bYB+/aDg55bUDlqynv6F7z9IylQ=">
            <table:column id="c_net_grouplink_ssportal_domain_ServiceRequest_service" property="service" z="9iFMvYXIsyD/CJeoldZFiWdIK48="/>
            <table:column id="c_net_grouplink_ssportal_domain_ServiceRequest_user" property="user" z="UscZ8ybHSZD5X/oJ4HGlHn1oloE="/>
        </table:table>
    </page:list>
</div>
