<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_net_grouplink_ssportal_domain_ServiceType" modelAttribute="serviceType" path="/scaffold/servicetypes" render="${empty dependencies}" z="abRfRZgZVyIHdQk69Gc6eFvrBLc=">
        <field:input field="name" id="c_net_grouplink_ssportal_domain_ServiceType_name" required="true" z="XwA5y/qkWNjxdpBiRgN1lOySSfY="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_net_grouplink_ssportal_domain_ServiceType" render="${not empty dependencies}" z="k9nd787Z7OVE84ht1VbuOsP5gJc="/>
</div>
