<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_grouplink_ssportal_domain_ServiceType" items="${servicetypes}" z="6DxbEhF2zm+s1bNsBkQlVlbnOwk=">
        <table:table data="${servicetypes}" id="l_net_grouplink_ssportal_domain_ServiceType" path="/scaffold/servicetypes" z="dWEhpF2k2wBi/g4czguRAfxkrOs=">
            <table:column id="c_net_grouplink_ssportal_domain_ServiceType_name" property="name" z="AgLBER32T3/+pFMoVcCme5SfzWM="/>
        </table:table>
    </page:list>
</div>
